* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  //outline: 1px solid #fff;

  transform: scale(1.5) translateY(50%);
}

.game-container canvas {
  background: #1d212d;  
  image-rendering: pixelated;
}
